*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}



/*******************INDEX INICIO*******************/
#index-inicio{
    .logo-cornershop{
        margin-top:70px;
    }
    .index-inicio-loading{
        margin-top:-250px;
    .preloader-wrapper{
        color:$rojo-interfaz;
        }
    }
}
/*********************FIN INDEX INICIO***********************/


/**************************MAPA ESTILOS*****************************/
#pruebaMap{
	#map{
		height: 50vh;
	}
}
/**************************FIN MAPA ESTILOS****************************/

