*{

	padding:0;
	margin:0;
	box-sizing: border-box;
}
.seccion-modal {
    @include seccion-modal();
        .modal{
            @include modal();
                .contenido {

                    @include contenido();
        }
    }
}
#cerrar {
    display: none;
}
.btn{
    width:90%;
}
@keyframes modal {
    100% {
        visibility: visible;
        opacity: 1;
    }
}
.sec-modal{
    position:fixed;
    top:0;
}
#img-logo{
	width: 45%;
}
#img-text{
	margin-top: -15px;
}
.title{
	margin-right: 50%;
	h4{
		color: #F8485E;
	}
	p{
		color: #656464;
	}
}
.selector{
	width: 100%;
	padding: 10px;
	border-color: whitesmoke;
}
#option-no{
	color: #F8485E;
}
#btn-continuar{
	background-color: #F8485E;
	color: #fff;
	width: 250px;
	height: 40px;
	border-radius: 5px;
	border-color: #F8485E;
}
.final{
	p{
		color: #F8485E;
	}
}




/*******************INDEX INICIO*******************/
#index-inicio{
    .logo-cornershop{
        margin-top:70px;
    }
    .index-inicio-loading{
        margin-top:-250px;
    .preloader-wrapper{
        color:$rojo-interfaz;
        }
    }
}
/*********************FIN INDEX INICIO***********************/


/**************************MAPA ESTILOS*****************************/
#pruebaMap{
	.seccion-map{
		padding: 0;
		#map{
			height: 100vh;
			position: absolute;
			top: 0;
			z-index: -100;
		}
		.form{
			position: fixed;
			top: 0;
			left: 0;
			z-index: 100;

			background: rgba(255, 255, 255, 0.3);
			overflow: scroll;
			padding: 0;
			height: 100vh;
			
			#address{
				background: black;
				color: white;
				margin: 0;
				padding-left: 10px;
			}
			button{
				width: 100%;
				background: #01DFA5;
				color: white;
				font-weight: bolder;
				border: none;
				font-size: 1.5em;
				padding: 10px;
			}
		}
	}
}

#infowindow{
	width: 100px;
}
/**************************FIN MAPA ESTILOS****************************/

